@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <b>CV GENERATOR</b>
    </h1>
    <br />
    <br />
    <p style="color:black; font-family: Courier New, Courier, monospace">Welcome to the CV Generator Dashboard! This powerful tool allows you to create and manage your professional curriculum vitae with ease.
       <br /> Whether you're looking for a new job, updating your credentials, or simply organizing your career information, <br />our app provides all the necessary features to build an impressive CV.</p>
    <br />
    <br />
    <img src="~/Media/Images/cv.png" alt="CV Generator">
</div>
