@model Description
@{
    bool disableCreate = ViewBag.DisableCreate ?? false;
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row-pb-2">
            <h2 class="text-primary">Create new Description</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Des">Description</label>
            <input asp-for="Des" class="form-control" />
            <span asp-validation-for="Des" class="text-danger"></span>
        </div>
  

        <button type="submit" class="btn btn-primary" style="width:150px" @if (disableCreate) { <text>disabled</text> }>Create</button>
        <a asp-controller="Description" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}